.Container {
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.Container .Sub-Container {
    width: 1050px;
    height: 580px;
    margin: 30px 0 0 0;
    font-family: "Roboto";
    font-weight: 500;
}
.Container .Sub-Container .Body1 {
    height: 300px;
    width: inherit;
    background-color: white;
    position: sticky;
    box-shadow: 0 0 10px -2px black;
}
.Container .Sub-Container .Body1 .Note {
    width: 80%;
    margin: 40px 0 0 10px;
}
.Container .Sub-Container .Body1 .Date {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Container .Sub-Container .Body1 .Date .Schedule-Date {
    margin: 45px 30px 40px 10px;
    width: 200px;
}
.Container .Sub-Container .Body1 .Date .Schedule-Time {
    margin: 45px 0 40px 10px;
    width: 200px;
}
.Container .Sub-Container .Body1 .Done {
    margin: 10px 0 0 0;
    display: flex;
    justify-content: space-around;
    font-weight: 500;
}
.Container .Sub-Container .Body1 .Done .RadioGroup {
    display: flex;
    flex-direction: row;
}
.Container .Sub-Container .Body1 .Done .Button {
    display: flex;
    align-items: center;
}
.Container .Sub-Container .Body2 {
    box-shadow: 0 0 10px -2px black;
}
.Container .Sub-Container .Body2 .Data-flex {
    background-color: white;
    display: flex;
    height: 55px;
    align-items: center;
    padding: 0 5px 0 5px;
}
.Container .Sub-Container .Body2 .Data-flex .Notes {
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.Container .Sub-Container .Body2 .Data-flex .Days .PrivateSwitchBase-root-5 {
    padding: 0px;
}
.Container .Pagination {
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;
}
.Container .Pagination .MuiPaginationItem-page.Mui-selected {
    background-color: aliceblue;
}
